body {
    background-color: rgb(149, 36, 36);
    text-align: center;
}

p {
    color: aliceblue;
}

h1 {
    font-style: oblique;
}

.kibe {
    color: rgb(255, 255, 255);
    font-size: 20 px;
}

.img1 {
    width: 45 %;
}

.img2 {
    width: 45 %;
}